* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 1300px;
    background-color: #40404079
}

img {
    max-width: 100%;
    display: block;
}


/*==============
    body 
 ===============*/

header {
    background-color: #F18119;
    text-transform: uppercase;
    padding: 0.8em;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #FFFCF9;
    color: #404040;
}

footer {
    background-color: #F18119;
    padding: 0.75em;
}

ul {
    padding: 0;
    list-style: none;
}

p {
    line-height: 1.6;
    font-size: 1.05rem;
    text-align: justify;
    letter-spacing: .05em;
}

.flex {
    display: flex;
    flex-direction: column;
}

.container-main {
    margin: 3em;
}

.container-main-title {
    padding: 0;
    margin: 0;
}

.header-of-work {
    padding: 0;
    margin: 0;
}


/*==============
 navbar 
 ===============*/

nav {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logo img {
    height: 120px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}

.nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 .5em 0;
    order: 0;
}

.nav-list-item {
    list-style: none;
    padding: .5em;
}

.nav-link:hover,
.nav-link:focus {
    color: #404040;
}

.current-page {
    border-bottom: 2px solid rgba(64, 64, 64, 0.5);
    padding: 0 .25em
}


/*==============
    footer
 ===============*/

.container-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-contact i {
    color: #FFFCF9
}

.container-contact i:hover,
.container-contact i:focus {
    color: #404040
}


/*==============
    aside
 ===============*/

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #404040;
    color: #FFFCF9;
    margin: 0;
    padding: 0;
    order: 1;
}

aside a {
    color: #F18119;
    text-decoration: none;
}

aside a:hover,
aside a:focus {
    color: #FFFCF9;
    border-bottom: 1px solid #FFFCF9;
}

aside ul {
    text-align: center;
    letter-spacing: 0.75px;
    font-weight: 300;
    padding: 0;
}

strong {
    font-weight: 600;
}

.container-icons {
    flex-direction: row;
    padding-bottom: .3em
}

.container-icons i {
    padding: 1em;
    text-align: center;
    color: #FFFCF9
}


/*==============
 Typography 
 ===============*/

h1 {
    font-size: 2.7rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

aside h1 {
    margin: .3em;
    padding-top: .3em
}

.container-main-title h1 {
    font-size: 4.5rem;
}

.position {
    font-weight: 600;
    letter-spacing: 0;
    padding-bottom: 0;
    margin: 0;
}

.position-title {
    font-size: 1.25rem;
    font-weight: 400;
    padding-bottom: .5em;
}

.position li {
    padding-left: 1em;
    letter-spacing: 1.5px;
    line-height: 1.5;
}

.padding {
    font-weight: 400;
    color: #404040;
    padding-left: .5em;
}

.date {
    display: block;
    font-weight: 400;
    font-size: 1.1rem;
    color: rgba(64, 64, 64, 0.5)
}

.nav-list a {
    text-decoration: none;
    color: #FFFCF9;
    font-weight: 600;
    letter-spacing: .3em;
    font-size: 1.5rem;
}

.orange {
    color: #F18119;
    font-weight: 900;
}

.skill {
    font-weight: 600;
    color: #F18119;
}

.container-main-title p {
    font-weight: 600;
}

.new-line {
    display: block;
}

.job p {
    margin: 0 auto;
    padding: 2em .5em;
}


/*==============
    media
 ===============*/

@media (max-width:610px) {
    h3 {
        font-size: 1.25rem
    }
    .container-main-title h1 {
        font-size: 2.25rem;
    }
    .position-title {
        font-size: 1.2rem;
    }
    .name {
        font-size: 1.45rem
    }
}

@media (min-width: 1100px) {
    main {
        flex-direction: row;
        width: 100%;
        justify-content: space-between
    }
    /* navbar */
    nav {
        display: flex;
    }
    .nav-list {
        flex-direction: row;
        justify-content: space-between;
    }
    .nav-list-item a {
        font-size: 1.5em;
        margin: 0.8em;
    }
    /* sidebar */
    aside {
        width: 22%;
        min-width: 250px;
        justify-content: flex-start;
        order: 0;
        padding: 0 .5em;
    }
    aside a:hover,
    aside a:focus {
        color: #FFFCF9;
    }
    aside h1 {
        padding-top: 1em 0;
        font-size: 2em;
    }
    .new-line {
        display: block
    }
    .logo-big {
        max-width: 271px;
        padding: 3em 1em 3em;
        border-bottom: 1px solid #F18119;
    }
    .container-icons i {
        color: #FFFCF9;
        padding: 1.5em .5em 0;
    }
    /* main content */
    .container-main {
        margin: 0 4em 4em;
        width: 65%
    }
}


/* h1 font az elején + expect és tech egymás mellé mehetne!